.container{
    display:flex;
    flex-direction: column;
} 
.outerboxes{
    background-color: beige;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;    

}
.box1{
   height: 200px;
   width: 300px;
    background-color: blue;
    border: 2px solid white;
    flex: 1;
}
.box2{
    background-color: orange;
    border: 1px solid white;
    height: 200px;
   width: 300px;
   flex: 1;
    /* flex-grow: 2; */
    /* flex-basis: 0; */
    /* flex-shrink: 2 ; */
}
.box3{
    background-color: skyblue;
    border: 1px solid white;
    height: 200px;
   width: 300px;
    flex-grow:1;
    flex: 1;
    flex-basis: 0;
    /* flex-shrink: 1; */
}
 
.para1{
    background-color: pink;
    flex: 2;
    order: 2;
}
.para2{
    background-color: aquamarine;
    flex: 1;
    order: 1;
}
.para3{
    background-color: gray;
    flex: 1;
    order: 3;
}
.box .box4{
    background-color: red;
}
.box4{
    background-color: orangered;
    border: 1px solid white;
    height: 200px;
   width: 300px;
   flex: 1;
     flex-grow:1; 
    /* flex-basis: 0;  */
    /* flex-shrink: 1; */
}